* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
:root {
    font-family: 'Raleway', sans-serif;
    --text-color: #000000;
    --main-color: #84C6F5;
}

.footer {
    width: 100%;
    margin: 40px 0px 20px 0;
    padding: 50px;
    background: linear-gradient(to top, var(--main-color), #FFffff);
    border-radius: 50px;
    text-align: center;
    border-radius: 50px;
    transition: 0.5s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.footer:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.footer h1 {
    margin: 40px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.footer p {
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-top: 20px;
    max-width: 50vw;
}

.contatos-pedro a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #0077FF; /* Cor do link */
    font-weight: bold; /* Define a fonte em negrito */
    margin-right: 10px; /* Adiciona um espaço à direita dos links para separação */
}

.contatos-pedro p{
    font-weight: 800;
    font-style: oblique;
    margin-left: 40px;
}
